nav {
  height: 100%;
  width: 300px;
  padding: 30px;
  background-color: rgb(96, 125, 139);
}

.nav-title {

  .title {
    color: rgb(174, 187, 194);
    font-size: 16px;
  }

}

.btn-clear {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}


.pull-right {
  float: right;
}
