nav {
  height: 100%;
  width: 300px;
  padding: 30px;
  background-color: rgb(96, 125, 139);
}

.nav-title {

  margin-bottom: 10px;

  .title {
    color: rgb(212, 220, 224);
    font-size: 18px;
  }

}

.pull-right {
  float: right;
}

.btn-clear {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
