<div>
  <div class="list-info">
    <input type="checkbox">
    <span class="list-title">工程研发部门</span>
    <span class="list-info-count pull-right">120</span>
  </div>

  <ul>
    <li>
      <input type="checkbox">
      <span class="list-item">Mac开发工程师</span>
      <span class="list-item-count pull-right">9</span>
    </li>
    <li>
      <input type="checkbox">
      <span class="list-item">Mac开发工程师</span>
      <span class="list-item-count pull-right">9</span>
    </li>
    <li>
      <input type="checkbox">
      <span class="list-item">Mac开发工程师</span>
      <span class="list-item-count pull-right">9</span>
    </li>
    <li>
      <input type="checkbox">
      <span class="list-item">Mac开发工程师</span>
      <span class="list-item-count pull-right">9</span>
    </li>
  </ul>
</div>
